h1{
  text-align:center;
  color: #000;
}

h2{background: linear-gradient(transparent 80%, #999 90%);
}

h3{background: linear-gradient(transparent 80%, #999 90%);
}

h4{background: linear-gradient(transparent 80%, #999 90%);
}
